.header-banner{
    width: 100%;
    height: 600px;
}
.first-banner{
    background-image: url(./image/slide-1.jpg);
    width: 100%;
    height: 600px;

}
@media(max-width:600px){
   
.first-banner1{
    background-image: url(./image/slide-1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;

}
.first-banner2{
    background-image: url(./image/slider-2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;

}
.bannertext h1{
    font-size: 25px;
   font-weight: bold;
   margin-top: 60px;
   margin-left: 20px;
   color: rgb(4, 74, 17);
}
.bannerdowntext{
    font-size: 10px;
     /* margin-top: 20px; */
   margin-left: 20px;
   color: rgb(108, 110, 111);
}
.text-light{
    width: 80px;
    height: 30px;
   margin-left: 20px;
   font-weight: bold;
   font-size: 10px;
}

.bannertext2 h1{
    font-size: 25px;
   font-weight: bold;
   margin-top: 60px;
   margin-left: 20px;
   color: rgb(4, 74, 17);
}
.bannerdowntext2{
    font-size: 10px;
     /* margin-top: 20px; */
   margin-left: 20px;
   color: rgb(108, 110, 111);
}
.text-light{
    width: 80px;
    height: 30px;
   margin-left: 20px;
   font-weight: bold;
   font-size: 10px;
}

}
@media(max-width:800px){
    
}
@media(min-width:800px){
    
.first-banner1{
    background-image: url(./image/slide-1.jpg);
    width: 100%;
    height: 600px;
}
.first-banner2{
    background-image: url(./image/slider-2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
}
.bannertext h1{
    font-size: 70px;
   font-weight: bold;
   margin-top: 120px;
   margin-left: 60px;
   color: rgb(4, 74, 17);
}
.bannerdowntext{
    font-size: 20px;
     margin-top: 20px;
   margin-left: 60px;
   color: rgb(108, 110, 111);
}
.text-light{
    width: 150px;
    height: 50px;
     margin-top: 5px;
   margin-left: 60px;
   font-weight: bold;
   font-size: 20px;
}
.bannertext2 h1{
    font-size: 70px;
   font-weight: bold;
   margin-top: 120px;
   margin-left: 60px;
   color: rgb(4, 74, 17);
}
.bannerdowntext2{
    font-size: 20px;
     margin-top: 20px;
   margin-left: 60px;
   color: rgb(108, 110, 111);
}
.text-light{
    width: 150px;
    height: 50px;
     margin-top: 5px;
   margin-left: 60px;
   font-weight: bold;
   font-size: 20px;
}
}